name: keycloak
services:
  keycloak:
    image: quay.io/keycloak/keycloak:24.0.2   # specific version, not :latest
    container_name: keycloak
    restart: unless-stopped
    environment:
      - KEYCLOAK_ADMIN=admin
      - KEYCLOAK_ADMIN_PASSWORD=admin
      - TZ=${TZ}
      - PUID=${PUID}
      - PGID=${PGID}
    ports:
      - target: 8080
        published: ${WEBUI_PORT:-8080}
        protocol: tcp
    volumes:
      - type: bind
        source: /DATA/AppData/keycloak/config
        target: /opt/keycloak/conf
      - type: bind
        source: /DATA/AppData/keycloak/data
        target: /opt/keycloak/data
    x-casaos:
      envs:
        - container: KEYCLOAK_ADMIN
          description:
            en_US: Default admin username
        - container: KEYCLOAK_ADMIN_PASSWORD
          description:
            en_US: Default admin password
      ports:
        - container: "8080"
          description:
            en_US: Web UI HTTP port
      volumes:
        - container: /opt/keycloak/conf
          description:
            en_US: Keycloak configuration directory
        - container: /opt/keycloak/data
          description:
            en_US: Keycloak data directory

x-casaos:
  architectures:
    - amd64
    - arm64
  main: keycloak
  author: Lawrence Household
  category: Identity
  description:
    en_US: Open Source Identity and Access Management.
  developer: Keycloak Project
  icon: https://www.keycloak.org/resources/images/keycloak_logo_200px.png
  title:
    en_US: Keycloak
  tagline:
    en_US: Identity and Access Management for modern apps.
  tips:
    before_install:
      en_US: |
        Default admin credentials are set to `admin` / `admin`. Please change them after first login.
  index: /
  port_map: ${WEBUI_PORT:-8080}
